 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 .bg {
     backdrop-filter: blur(2px) brightness(90%);
     box-shadow: 1px 1px 8px 1px theme(colors.slate.950);
 }

 .bg-primary {
     backdrop-filter: blur(2px) brightness(90%);
     box-shadow: 1px 1px 8px 1px theme(colors.indigo.700);
 }